body {
  //background: url(/images/Cyber.png);
  background-color: #DBE6FD;
}
.about-image {
  margin-bottom: 1.66667em;

  img {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and {
    .profile {
        .avater {
            object-fit: contain
        }
    }
}